<% if (comments.length == 0) { %>
    <div class="left_title comments">No Comments</div>
    <div class="clear"></div>
    <% if (!session.user) {%>
        <div class="left_box_title" STYLE="FLOAT:left;margin-left:90px">
            <a href='/login?redir=/posts/<%=post.id%>' class="more"> Login to comment</a>
            </div>
        <div class="clear"></div>
    <% }%>
<% } else { %>

<div class="left_title comments">Comments</div>

<div class="clear"></div>
<% if (!session.user) {%>
    <div class="left_box_title" STYLE="FLOAT:left;margin-left:90px">
        <a href='/login?redir=/posts/<%=post.id%>' class="more"> Login to comment</a>
        </div>
    <div class="clear"></div>
<% }%>


<% for (var i in comments) { %>

<div class="left_box comment" >

        <div class="left_box_title">
            <br/>
            <em class="author"> <%= comments[i].author && comments[i].author.name || "No Author" %> </em>
        </div>

        <p class="details"><%= comments[i].updatedAt.toLocaleDateString() %>
            </p>

        <div>
            <p class="details"><%- escapeText(comments[i].body) %></p>
        </div>

        <div>
            <% if (session.user && session.user.id == comments[i].authorId) {%>
                <a href="/posts/<%= post.id %>/comments/<%= comments[i].id %>/edit" class="more"> Edit </a>
                <!-- In a form coz you can call for delete with an url, you need to access delete with a post method -->


                <% var form_name = 'fpi' + i; %>

                <form method='post' action='/posts/<%= post.id %>/comments/<%= comments[i].id %>' name='<%= form_name %>'>
                    <input type='hidden' name='_method' value='delete'>
                    <a href=""
                        onclick="return confirmSubmit('Are you sure you want to delete this book?', '<%= form_name %>')"
                        class="more">
                            <i class='icon-trash'></i>  Delete
                    </a>
                </form>

            <% } %>

        </div>

        <div class="clear"></div>

    </div>
    <div class="clear"></div>


<%} } %>