<script>
   function confirmPassword() {
      var pw1 = document.all['user_password'].value;
      var pw2 = document.all['user_confirm_password'].value;

     <% if ( ! user.id) { %>
        if (!pw1 || !pw2) {
           bootbox.alert("Introduce a password and confirm it.");
           return false;
        }
     <% } %>

      if (pw1 == pw2) {
         return true;
      } else {
         bootbox.alert('Passwords do not match.');
         return false;
      }
   }
</script>


<div class="left_box" id="all_form">
    <div class="all_form">
    <div class="all_form_subtitle">account details </div>


        <div class="all_form_row">
            <div class="all_field">
                <div class='control-group <%- locals.validate_errors && validate_errors.login
                                                                ? "error" : "" %>'>
                    <% if ( ! user.id) { %>
                        <label class='control-label' for="user_login">Username:</label><br />
                        <div class='controls'>
                            <input type="text" id="user_login" class="all_input" name="user[login]" placeholder='Your Username' value="<%= user.login%>"/>
                        </div>
                    <% } else { %>
                        Username: <%= user.login %>
                    <% } %>
                </div>
            </div>
        </div>



        <div class="all_form_row">
            <div class="all_field">
                <div class='control-group <%- locals.validate_errors && validate_errors.name
                                                ? "error" : "" %>'>
                    <label class='control-label' for="user_name">Nombre</label><br />
                    <div class='controls'>
                    <input type="text" id="user_name" class="all_input" name="user[name]" placeholder='Your Name' value="<%= user.name%>" />
                    </div>
                </div>
            </div>
        </div>


        <div class="all_form_row">
            <div class="all_field">
                <div class='control-group <%- locals.validate_errors && validate_errors.email
                                                ? "error" : "" %>'>
                    <label class='control-label' for="user_email">Email</label><br />
                    <div class='controls'>
                        <input type="text" id="user_email" class="all_input" name="user[email]" placeholder='Your Email' value="<%= user.email%>"/>
                    </div>
                </div>
            </div>
        </div>



        <div class="all_form_row">
            <div class="all_field">
                    <label for="user_password">Password:</label><br />
                    <input type="password" id="user_password" class="all_input" name="user[password]"  />
                </div>
            </div>




        <div class="all_form_row">
            <div class="all_field">
                <label for="user_confirm_password">Confirmar Password:</label><br />
                <input type="password" id="user_confirm_password" class="all_input"  />
            </div>
        </div>



        </br>
        </br>

        <div class="all_form_row">
        <div class="actions contact">
            <input class="submit_button" name="commit" type="submit" value="Save" onclick='return confirmPassword()'/>
        </div>
    </div>
</div>
</div>

<div class="clear"></div>