<script>
   function confirmPassword() {
      var pw1 = document.all['user_password'].value;
      var pw2 = document.all['user_confirm_password'].value;

     <% if ( ! user.id) { %>
        if (!pw1 || !pw2) {
           alert('Introduce a password and confirm it.');
           return false;
        }
     <% } %>

      if (pw1 == pw2) {
         return true;
      } else {
         alert('Passwords do not match.');
         return false;
      }
   }
</script>


<div class="left_box" id="all_form">
    <div class="all_form">
    <div class="all_form_subtitle">account details </div>


        <div class="all_form_row">
            <div class="all_field">
                <div class='<%- locals.validate_errors && validate_errors.title
                            ? "invalid_field"
                            : "field" %>'>
                    <% if ( ! user.id) { %>
                        <label for="user_login">Username:</label><br />
                        <input type="text" id="user_login" class="all_input" name="user[login]" value='<%= user.login%>' />
                    <% } else { %>
                        Username: <%= user.login %>
                    <% } %>
                </div>
            </div>
        </div>



        <div class="all_form_row">
            <div class="all_field">
                <div class='<%- locals.validate_errors && validate_errors.title
                            ? "invalid_field"
                            : "field" %>'>
                    <label for="user_name">Nombre</label><br />
                    <input type="text" id="user_name" class="all_input" name="user[name]" value='<%= user.name%>' />
                </div>
            </div>
        </div>


        <div class="all_form_row">
            <div class="all_field">
                <div class='<%- locals.validate_errors && validate_errors.title
                            ? "invalid_field"
                            : "field" %>'>
                    <label for="user_email">Email</label><br />
                    <input type="text" id="user_email" class="all_input" name="user[email]" value='<%= user.email %>' />
                </div>
            </div>
        </div>



        <div class="all_form_row">
            <div class="all_field">
                    <label for="user_password">Password:</label><br />
                    <input type="password" id="user_password" class="all_input" name="user[password]" value='' />
                </div>
            </div>




        <div class="all_form_row">
            <div class="all_field">
                <label for="user_confirm_password">Confirmar Password:</label><br />
                <input type="password" id="user_confirm_password" class="all_input" value='' />
            </div>
        </div>



        </br>
        </br>

        <div class="all_form_row">
        <div class="actions contact">
            <input class="submit_button" name="commit" type="submit" value="Save" onclick='return confirmPassword()'/>
        </div>
    </div>
</div>
</div>

<div class="clear"></div>