<%- include _changeSelectedMenu.ejs %>

<div class="left_title">Users</div>

<div class="clear"></div>

<div class="left_box post">
    <div class="all_tables">
        <table>
          <tr>
            <td>Login</td>
            <td>Name</td>
            <td>Email</td>
            <td colspan="2">&nbsp;</td>

          </tr>

        <% for (var i in users) { %>
            <tr>
                <td> <%= users[i].login %>  </td>
                <td> <%= users[i].name %>  </td>
                <td> <%= users[i].email %> </td>
                <td><a href="/users/<%= users[i].id %>"> Details </a></td>
                <td>
                <% if (session.user && session.user.id == users[i].id) {%>
                    <a href="/users/<%= users[i].id %>/edit"> Edit </a>
                <% } else { %>
                    --
                <% } %>
                </td>
                <% if (false) { %>
                    <td>
                        <form method='post' action='/users/<%= users[i].id %>'>
                            <input type='hidden' name='_method' value='delete'>

                            <a href="" onclick="submit();return false">Delete</a>
                        </form>
                    </td>
                <% } %>
            </tr>
        <%  }; %>
        </table>
    </div>
</div>
<div class="clear"></div>

<div class="left_box post subfooter">
    <a href="/users/new"> Add New User </a>
</div>

