<%- include _changeSelectedMenu.ejs %>

<div class="left_title">Books</div>

<div class="clear"></div>

<% for (var i in posts) { %>
    <div class="left_box post">

        <div class="left_box_title">
            <% if (session.user) { %>
                <img class="star" src="/images/star-yellow-icon.png" alt="star">
            <% } %>
            <a href='/posts/<%= posts[i].id %>' class='titlelink'><%= posts[i].title %> </a> <br/>
            <em class="author"> by <%= posts[i].author && posts[i].author.name || "No Author" %> </em>
        </div>

        <div>
            <p class="details"><%= posts[i].body.slice(0,300) %> ...</p>
            <em><p class="details"><%= posts[i].numberOfComments%> comments.<p></em>
        </div>

        <div>
            <% if (session.user && session.user.id == posts[i].authorId) {%>
                <a href="/posts/<%= posts[i].id %>/edit" class="more"> Edit </a>
                <!-- In a form coz you can call for delete with an url, you need to access delete with a post method -->
                <form method='post' action='/posts/<%= posts[i].id %>'>
                    <input type='hidden' name='_method' value='delete'>
                    <a href="" onclick="submit();return false" class="more"> Delete </a>
                </form>
            <% } %>

        </div>

        <div class="clear"></div>

    </div>
    <div class="clear"></div>

<% }; %>

<div class="left_box post subfooter">
    <a href="/posts/new"> Add New Book </a>
</div>

<div class="clear"></div>

