<%- include _changeSelectedMenu.ejs %>

<div class="left_title">Book Details</div>

<div class="clear"></div>

<div class="left_box" id="welcome_box">

    <div class="left_box_title"><b><%= post.title %></b><br />by <em>El autor</em></div>

    <p class="details"><%= post.updatedAt.toLocaleDateString() %>
    </p>
    <p class="details"><%- escapeText(post.body) %></p>

    <div class="clear"></div>

</div>

<div class="left_box post" id="footer">
    <p>
    <a href="/posts/<%= post.id %>/edit">Edit</a> &emsp; <a href="/posts">Back</a>
    </p>
</div>