<%- include _changeSelectedMenu.ejs %>

<div class="left_title">Book Details</div>

<div class="clear"></div>

<div class="left_box post">

    <div class="left_box_title">
        <% if (session.user) { %>
            <img class="star" src="/images/star-yellow-icon.png" alt="star">
        <% } %>

        <b><%= post.title %></b>
        <br/>
        <em class="author">by  <%= post.author && post.author.name || 'No Author' %></em>
    </div>

    <em><p class="details"><%= post.updatedAt.toLocaleDateString() %></p></em>

    <div>
        <p class="details"><%- escapeText(post.body) %></p>
        <em><p class="details"><%= commentsNumber %> comments.<p></em>
    </div>
    <div class="clear"></div>

    <div class="left_box post subfooter">
            <p>
            <% if (session.user && session.user.id == post.authorId)  {%>
                <a href="/posts/<%= post.id %>/edit">Edit</a> &emsp;
            <% } %>
            <a href="/posts">Back</a>
            </p>
        </div>

</div>
<div class="clear"></div>

    <%- include ../attachments/index.ejs %>

    <%- include ../comments/index.ejs %>

    <% if (session.user) { %>
       <blockquote>
          <%- include ../comments/new.ejs %>
       </blockquote>

    <% } %>
    <div class="left_box" >
        <div class="left_box post subfooter">
            <p><a href="/posts">Back</a></p>
        </div>
    </div>

<div class="clear"></div>