<% if (attachments.length == 0) { %>

    <div class="left_title comments">No Attachments.</div>
    <div class="clear"></div>
    <% if (!session.user) {%>
        <div class="left_box_title" STYLE="FLOAT:left;margin-left:90px">
            <a href='/login?redir=/posts/<%=post.id%>' class="more"> Login to attach (only post author)</a>
            </div>
        <div class="clear"></div>
    <% }%>


        <% if (session.user && session.user.id == post.authorId) {%>

            <div class="left_box comment" >
                        <div class="left_box_title" STYLE="FLOAT:LEFT">

            <a href="/posts/<%= post.id %>/attachments/new" class="more"> New Attachment </a>
            </div>
            </div>
        <% } %>

    <div class="clear"></div>



<% } else { %>

<div class="left_title comments">Attachments: <%= attachments.length %> </div>

<div class="clear"></div>
<% if (!session.user) {%>
    <div class="left_box_title" STYLE="FLOAT:left;margin-left:90px">
        <a href='/login?redir=/posts/<%=post.id%>' class="more"> Login to attach (only post author)</a>
        </div>
    <div class="clear"></div>
<% }%>

     <% for (var i in attachments) { %>
        <div class="left_box comment" >
            <div class="left_box_title">
                <em class="author"> <a href='<%= attachments[i].url %>' type='<%= attachments[i].mime %>' target='_blank'>
                    <%= attachments[i].filename %>
                </a></em>
            </div>
            <p class="details"><%= attachments[i].updatedAt.toLocaleDateString() %></p>

            <div class="clear"></div>

            <div class="attachment_actions">
                <% if (session.user && session.user.id == post.authorId) {%>

                    <% if (i == 0) {%>
                        <a href="/posts/<%= post.id %>/attachments/new" class="more"> New Attachment </a>
                        <br/>
                        <br/>
                        <br/>
                    <% } %>

                    <% var form_name = 'fpi' + i; %>

                    <form method='post' action='/posts/<%= post.id %>/attachments/<%= attachments[i].id %>' name='<%= form_name %>'>
                        <input type='hidden' name='_method' value='delete'>
                        <a href=""
                            onclick="return confirmSubmit('Are you sure you want to delete this book?', '<%= form_name %>')"
                            class="more">
                                <i class='icon-trash'></i>  Delete
                        </a>
                    </form>


                <% } %>
            </div>
            <div class="clear"></div>

            <div>
                <% if (attachments[i].mime.match(/^image\//)) { %>
                   <br />
                   <img class="attachments" src='<%= attachments[i].url%>'/>
                <% } %>
            </div>
        <div class="clear"></div>

    </div>
    <div class="clear"></div>


<%} } %>






